body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  margin: auto;
}
img {
  margin: auto;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: aquamarine;
}
p#featured-property {
  width: 800px;

}
div.details {
  float: left;
  
}